.about-us-page {
    background-color: #a2f901; /* Set the background to black */
     background-color: #e5fe05;
    background-repeat: no-repeat; /* Ensure the logo doesn't repeat */
    background-position: center; /* Center the logo */
    background-size: 150px 150px; /* Adjust logo size to fit within the background */
    color: white; /* Set text color to white for visibility */
    padding: 50px 20px; /* Add some padding */
    min-height: 100vh; /* Ensure the page takes the full height of the viewport */
    text-align: center; /* Center the text */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-box {
    background-color: rgba(6, 80, 44, 0.7); /* White background with transparency */
    padding: 40px; /* Add some padding for spacing */
    border-radius: 15px; /* Slightly round the corners */
    width: 80%; /* Adjust width, can be customized */
    max-width: 900px; /* Limit the width */
    text-align: center; /* Center the text inside */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
    
}

.about-us-page h1{
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    color:#ffc107(68, 61, 1);
    margin-bottom: 20px;
}


.about-us-page p {
    margin: 20px 0;
    font-weight: 400;
    font-size: 22px;
    font-family:'Roboto', sans-serif; /* Clean, readable body font */
    color: #ffffff; /* White text color for contrast */
}