.friends-page {
    background-image: url("https://i.pinimg.com/564x/4f/98/ad/4f98ad4d433374cc805f90be45fe4afa.jpg"); ;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column; /* Adjust the layout to make elements stack */
    justify-content: flex-start; /* Align content to the top */
    align-items: center;
    min-height: 84.2vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.search-box {
    width: 60%; /* Adjust the width */
    padding: 10px; /* Add padding for better appearance */
    margin-bottom: 20px; /* Add margin to separate it from the list */
    border-radius: 5px; /* Rounded corners */
    border: 1px solid #ccc;
    font-size: 1.2rem;
}

.people-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    max-height: 450px;
    overflow-y: auto;
    width: 100%;
    padding-right: 15px;
}

.heading {
    color: #002D5E;
    font-size: 10cm;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    white-space: nowrap; /* Prevents the text from wrapping to a new line */
    font-size: 3rem; /* Adjust the size as needed */
    text-align: center; /* Center align the heading */
    width: 60%; /* Ensure it spans the full width */
}

.no-friends-message{
    color: #002D5E;
    white-space: nowrap; /* Prevents the text from wrapping to a new line */
    font-size: 3rem; /* Adjust the size as needed */
    text-align: center; /* Center align the heading */
}

.person-card {
    background-color: rgb(222, 218, 218); /* Greyish background with transparency */
    padding: 0px 10px 35px 20px;
    border-radius: 10px;
    width: 750px;
    text-align: left;
    color: #000000;
    position: relative;
}

.fullName{
    color: #002D5E(234, 255, 0);
    font-size: 30px;
    font-weight: 750;
}

.interest{
    font-style: italic;
    font-size: 20px;
}

.connect-button, .connected-button {
    font-size: 20px;
    position: absolute;
    align-content: center;
    bottom: 10px;
    background-color: #002D5E;
    color:white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.connect-button:hover {
    background-color:white;
    color: #002D5E;
}

.connected-button {
    background-color: #002D5E; /* Different color to show it's already connected */
    cursor: not-allowed;
}
