.profile-page {
    background-image: url("https://i.pinimg.com/736x/4a/63/c9/4a63c937d5606964bc9ffe94b705c67d.jpg");
    min-height: 80vh;
    padding: 20px;
    color: #003d5b; /* Dark blue text color */
    text-align: center; /* Center content */
}

.friends-list-names {
    color: #003d5b; /* Dark blue color */
    font-size: 20px;
    font-style: italic;
    text-decoration: none; /* Remove the underline from the links */
}

/* To ensure that the links don't revert to default styles on hover */
.friends-list-names:hover {
    color:#012143; /* Teal color on hover */
    text-decoration: none;
}

.connect-friends-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #002D5E; /* Teal button */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
}

.connect-friends-button:hover {
    background-color:#012143; 
    color: white;
}

.welcomeUser{
    font-size: 50px;
    color: #002D5E;
}

.userInterests{
    font-size: 25px;
    font-style: italic;
    color: #002D5E;
}

.friends-list {
    margin-top: 20px;
    text-align: left;
    padding: 20px;
    background-color:#f6f8f9f8; /* Light teal background */
    border-radius: 10px;
}

.friends-list h2 {
    color: #002D5E; 
    font-size: 30px;
    margin-bottom: 0.2cm;
}

.friends-list ul {
    list-style: none;
    padding: 0;
}

.friends-list li {
    padding: 5px 0;
    cursor: pointer;
    color: #002D5E; /* Dark teal */
}


.delete-account-button {
    background-color: #d32f2f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .delete-account-button:hover {
    background-color: #b71c1c;
  }
  
  /* Styling for the Bio section */
.profile-bio {
    font-size: 25px;
    margin-top: 10px;
    font-style: italic;
    color: #002D5E;

}
.profile-location {
    font-size: 25px;
    margin-top: 5px;
    color:#002D5E; /* Teal */
}
.profile-bio-title, .profile-location-title, .userInterests-title{
    color: #002D5E;
}

/* Styling for the Location section */
.profile-location {
    font-size: 25px;
    margin-top: 5px;
    color:#002D5E; /* Teal */
}

.meet-room-button{
    background-color: #002D5E;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    font-size: larger;
    border: none;
    cursor: pointer;
    max-width: 100%;
    box-sizing: content-box;
}
.meet-room-button:hover{
    background-color: #012143; /* Dark teal hover */
    color: white;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #b2dfdb; /* Light teal background */
    padding: 20px;
    border-radius: 5px;
    text-align: center;;
  }
  
  .close-button {
    background-color: #d32f2f; /* Red close button */
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
  }

  .close-button:hover{
    background-color: #b71c1c;
  }
